VITE_ADMIN_EMAIL=ksbrandstore8484@gmail.com
VITE_ADMIN_PASSWORD=vanpe@1231
VITE_SUPABASE_URL=https://mefjbzuksuxqybwnjsff.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_pNe8w7CLwIrbnNWdONhb8A_ZFG-r4-v